<ul>
  <% if Admin::MailingListsController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_mailing_lists_path
                  } %>
    </li>
  <% end %>

</ul>